/* ========== FOOTER ========== */
footer {
    background-color: #fff;
    padding: 50px 0;
    margin-top: 50px;
    border-top: 3px solid var(--primary-color);
}

.footer-main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-col {
    width: 23%;
}

.footer-col.about-us {
    width: 31%;
}

.footer-col h3 {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-logo {
    height: 40px;
    margin-bottom: 15px;
}

.footer-col p {
    margin-bottom: 10px;
    line-height: 1.6;
    color: var(--text-light);
}

.phone-number {
    font-size: 24px;
    font-weight: bold;
    color: var(--price-color) !important;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: var(--text-light);
}

.newsletter-form {
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    justify-content: center;
}

.newsletter-form input {
    border: none;
    padding: 10px;
    flex-grow: 1;
}

.newsletter-form input:focus {
    outline: none;
}

.newsletter-form button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-title {
    margin-top: 20px;
    font-weight: bold;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.social-icons a {
    font-size: 20px;
    color: var(--text-light);
}
