/* ========== BASE & LAYOUT ========== */
@import url("css/base.css");
@import url("css/header.css");
@import url("css/footer.css");

/* ========== PAGES ========== */
@import url("css/home.css");
@import url("css/category.css");
@import url("css/product.css");
@import url("css/checkout.css");
@import url("css/profile.css");
@import url("css/auth.css");
@import url("css/about.css");

/* ========== FEATURES ========== */
@import url("css/reviews.css");
@import url("css/chat.css");
@import url("css/info.css");
